{% extends "base.html" %}

{% block title %}Admin login{% endblock %}

{% block navbar %}
	{% include "admin_non_navbar.html" %}
{% endblock %}

{% block content %}

<br><br>
	<div class="container">
		{% set count = info | wordcount %}
        {% if count > 0 %}
        <div class="row">
          <div class="col s12 card-panel red lighten-2">
            <p class="grey-text text-lighten-4 center-align col s12">{{info}}</p>
          </div>
        </div>
        {% endif %}
		
		<div class="row">
			<form class="col s12" method="post" action="/admin/login">
				<div class="row">
					<div class="input-field col s12">
					  <input name="username" type="text" class="validate">
					  <label for="username">Username</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
					  <input name="password" type="password" class="validate">
					  <label for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
					  <button id="login" class="btn waves-effect waves-light col s12" type="submit" name="action">Sign-In
										<i class="material-icons right">send</i>
						</button>
					</div>
				</div>	
			</form>
		</div>
	</div>
<br><br>
{% endblock %}

{% block footer %}
	{% include "footer.html" %}
{% endblock %}

{% block Scripts %}
	<!--  Scripts-->
	<script src="/js/jquery.js"></script>
	<script src="/js/materialize.js"></script>
	<script src="/js/init.js"></script>
{% endblock %}