{% extends "base.html" %}

{% block title %}Collection{% endblock %}

{% block navbar %}{% include "admin_non_navbar.html" %}{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            {% for arra in collection %}
            <div class="col s12 m6 l4">
                    <div class="card small">
                        <div class="card-image">
                            <img class="materialboxed responsive-img" src="/images/Upload/{{user.username}}/{{arra.filename}}">
                        </div>
                        <div class="card-action">
                                <a class="waves-effect waves-yellow btn-flat" href="/admin/Home/{{admin.username}}/User/{{user.username}}/Collection/{{arra.filename}}/download">Download </a>
                        </div>
                    </div>
            </div>
            {% else %}
                <div class="row">
                  <div class="col s12 card-panel red lighten-2">
                    <p class="grey-text text-lighten-4 center-align col s12">No photos</p>                  
                  </div>
                </div>
            {% endfor %}
      </div>
    </div>
{% endblock %}

{% block footer %}
	{% include "footer.html" %}
{% endblock %}

{% block Scripts %}
	<!--  Scripts-->
	<script src="/js/jquery.js"></script>
	<script src="/js/materialize.js"></script>
	<script src="/js/init.js"></script>
{% endblock %}