<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Short Intro</h5>
          <p class="grey-text text-lighten-4">
              Add some effect to your photos with this simple website. 
              This website is build from our first experience in web development.s
          </p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Team Members</h5>
          <ul>
            <li><a class="white-text" href="#!">Nico Limbara</a></li>
            <li><a class="white-text" href="#!">Henry Kurniawan</a></li>
            <li><a class="white-text" href="#!">Dedy Suhendra</a></li>
            <li><a class="white-text" href="#!">Yunas Hanifah</a></li>
            <li><a class="white-text" href="#!">Fendi</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Emails</h5>
          <ul>
            <li><a class="white-text" href="#!">limbaranico@yahoo.com</a></li>
            <li><a class="white-text" href="#!">henzdeimon11@yahoo.co.id</a></li>
            <li><a class="white-text" href="#!">dedysuhedra@rocketmail.com</a></li>
            <li><a class="white-text" href="#!">yunashanifah18@yahoo.com</a></li>
            <li><a class="white-text" href="#!">chua_fendi@yahoo.co.id</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <span class="brown-text text-lighten-3">Team Macho </span>&nbsp;&nbsp;&nbsp;
      Design by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a> 
      </div>
    </div>
</footer>